<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="SourcePaths" value="C:\Program Files (x86)\ProgramBlarBlar\logs;D:\ProgramLog\logs" />
    <add key="DistinationPath" value="D:\IdleFileBackup" />
    <add key="FileExtension" value="*" />
    <!--Days [Default: 10 days]-->
    <add key="IdleLimit" value="1" />
    <!--Delete, Move [Default: Delete]-->
    <add key="Action" value="Delete" />
    <!--In Second-->
    <add key="RetryInterval" value="10" />
  </appSettings>

</configuration>