<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables-->
  <variable name="defaultLayout" value="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />
  
  <targets>
    <target xsi:type="File" name="File" fileName="${basedir}/logs/IdleFileCleaner.log"
             archiveFileName="${basedir}/logs/IdleFileCleaner.log.{#}"
             archiveEvery="Day"
             archiveNumbering="Date"
             archiveDateFormat="yyyy-MM-dd"
             concurrentWrites="true"
             keepFileOpen="false">
      <!-- Layout Options -->
      <layout xsi:type="CsvLayout">
        <!-- CSV Options -->
        <quoting>Auto</quoting>
        <withHeader>true</withHeader>
        <delimiter>Tab</delimiter>
        <column name="DateTime" layout="${longdate}" />
        <column name="Serverity" layout="${uppercase:${level}}" />
        <column name="Category" layout="${logger}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=tostring}" />
      </layout>
    </target>

    <target xsi:type="Debugger" name="Debugger" layout="${defaultLayout}" />
    <target xsi:type="Console" name ="Console" layout="${defaultLayout}" />
  </targets>

  <rules>
    <logger name="IdleFileCleaner" minlevel="Info" writeTo="File,Debugger,Console" final="true"/>
    <logger name="*" minlevel="Info" writeTo ="File,Debugger,Console"/>
  </rules> 
</nlog>
